In [ ]:
### Pandas

"""
데이터 처리와 분석을 위한 라이브러리

행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있음

대용량의 데이터들을 처리하는데 매우 편리

pandas 자료구조
  Series: 1차원
  DataFrame: 2차원
  Panel: 3차원
"""
""""""

# pandas 로딩

import numpy as np # 보통 numpy와 함께 import
import pandas as pd

In [ ]:
## Pandas DataFrame

"""
2차원 자료구조

행레이블/열레이블, 데이터로 구성됨

딕셔너리(dictionary)에서 데이터프레임 생성
"""
""""""

''

In [ ]:
import pandas as pd
# 딕셔너리
data = {
    #"No.":[00, 11, 22, 33, 44, 55, 66, 77, 88, 99],
    "No.":[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
    "year":[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    "GDP rate": [2.4, 2.5, 2.5, 2.6, 2.6, 2.7, 2.9, 2.8, 3.1, 3.0],
    "GDP": ["1.56M", "1.57M", "1.583M", "1.599M", "1.597M", "1.601M", "1.61M", "1.637M", "1.73M", "1.83M" ]
}
df = pd.DataFrame(data, index = data["No."]) # index추가할 수 있음
# 한 번 실행만 해보면 무슨 뜻인지 알 수 있음
#df = pd.DataFrame(data, index = data["year"])
#df = pd.DataFrame(data, index = data["GDP rate"])
#df = pd.DataFrame(data, index = data["GDP"])

df

   No.  year  GDP rate     GDP
0    0  2009       2.4   1.56M
1    1  2010       2.5   1.57M
2    2  2011       2.5  1.583M
3    3  2012       2.6  1.599M
4    4  2013       2.6  1.597M
5    5  2014       2.7  1.601M
6    6  2015       2.9   1.61M
7    7  2016       2.8  1.637M
8    8  2017       3.1   1.73M
9    9  2018       3.0   1.83M

In [ ]:
print("row labels:", df.index)

row labels: Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [ ]:
print("column labels:", df.columns)

column labels: Index(['No.', 'year', 'GDP rate', 'GDP'], dtype='object')

In [ ]:
print("head:", df.head()) # print some lines in data

head:    No.  year  GDP rate     GDP
0    0  2009       2.4   1.56M
1    1  2010       2.5   1.57M
2    2  2011       2.5  1.583M
3    3  2012       2.6  1.599M
4    4  2013       2.6  1.597M

In [ ]:
## Read data in Pandas

"""
Function 	    Description
read_csv 	    Load delimited data from a file, URL, or file-like object; use comma as default delimiter
read_table 	  Load delimited data from a file, URL, or file-like object; use tab (’) as default delimiter
read_fwf 	    Read data in fixed-width column format (i.e., no delimiters)
read_excel 	  Read tabular data from an Excel XLS or XLSX file
read_html 	  Read all tables found in the given HTML document
read_json 	  Read data from a JSON (JavaScript Object Notation) string representation
"""
""""""

''

In [ ]:
# 특정 변수의 추출

# df에서 각 column의 값 추출
print(df["year"], '\n')
print(df["GDP rate"], '\n') 
print(df["GDP"], '\n')
# 또는
print(df.year, '\n')
#print(df.GDP rate, '\n') # 이렇게는 추출 불가
print(df.GDP, '\n')

0    2009
1    2010
2    2011
3    2012
4    2013
5    2014
6    2015
7    2016
8    2017
9    2018
Name: year, dtype: int64

0    2.4
1    2.5
2    2.5
3    2.6
4    2.6
5    2.7
6    2.9
7    2.8
8    3.1
9    3.0
Name: GDP rate, dtype: float64

0     1.56M
1     1.57M
2    1.583M
3    1.599M
4    1.597M
5    1.601M
6     1.61M
7    1.637M
8     1.73M
9     1.83M
Name: GDP, dtype: object

0    2009
1    2010
2    2011
3    2012
4    2013
5    2014
6    2015
7    2016
8    2017
9    2018
Name: year, dtype: int64

0     1.56M
1     1.57M
2    1.583M
3    1.599M
4    1.597M
5    1.601M
6     1.61M
7    1.637M
8     1.73M
9     1.83M
Name: GDP, dtype: object

In [ ]:
# 부분추출

df[["year", "GDP rate"]] # DataFrame

   year  GDP rate
0  2009       2.4
1  2010       2.5
2  2011       2.5
3  2012       2.6
4  2013       2.6
5  2014       2.7
6  2015       2.9
7  2016       2.8
8  2017       3.1
9  2018       3.0

In [ ]:
# .loc[행 인덱싱 값, 열 인덱싱 값]
df.loc[:3, ["year", "GDP rate"]] # 여기서는 :3일 때, 0부터 3까지 추출됨 # 파이썬 슬라이싱과 다르므로 주의

   year  GDP rate
0  2009       2.4
1  2010       2.5
2  2011       2.5
3  2012       2.6

In [ ]:
df.loc[:3, :"GDP rate"]

   No.  year  GDP rate
0    0  2009       2.4
1    1  2010       2.5
2    2  2011       2.5
3    3  2012       2.6

In [ ]:
df.loc[:, :].head()

   No.  year  GDP rate     GDP
0    0  2009       2.4   1.56M
1    1  2010       2.5   1.57M
2    2  2011       2.5  1.583M
3    3  2012       2.6  1.599M
4    4  2013       2.6  1.597M

In [ ]:
df[df["GDP rate"] == 2.6].head() # 부울 인덱싱 # 추천
#df.loc[df["GDP rate"] == 2.6].head() # 부울 인덱싱

   No.  year  GDP rate     GDP
3    3  2012       2.6  1.599M
4    4  2013       2.6  1.597M

In [ ]:
df[(df["GDP rate"] == 2.6) & (df["year"] == 2012)].head() # and : &, or : | # 부울 인덱싱 # 추천
df.loc[(df["GDP rate"] == 2.6) & (df["year"] == 2012)].head() # and : &, or : | # 부울 인덱싱

   No.  year  GDP rate     GDP
3    3  2012       2.6  1.599M

In [ ]:
df.loc[0:2]
#df.loc[0:2, :]

   No.  year  GDP rate     GDP
0    0  2009       2.4   1.56M
1    1  2010       2.5   1.57M
2    2  2011       2.5  1.583M

In [ ]:
df = pd.DataFrame(data, index = data["year"])
df

      No.  year  GDP rate     GDP
2009    0  2009       2.4   1.56M
2010    1  2010       2.5   1.57M
2011    2  2011       2.5  1.583M
2012    3  2012       2.6  1.599M
2013    4  2013       2.6  1.597M
2014    5  2014       2.7  1.601M
2015    6  2015       2.9   1.61M
2016    7  2016       2.8  1.637M
2017    8  2017       3.1   1.73M
2018    9  2018       3.0   1.83M

In [ ]:
df.loc[2016:2018]
#df.loc[2016:2018, :]

      No.  year  GDP rate     GDP
2016    7  2016       2.8  1.637M
2017    8  2017       3.1   1.73M
2018    9  2018       3.0   1.83M

In [ ]:
df = pd.DataFrame(data, index = data["No."])
df

   No.  year  GDP rate     GDP
0    0  2009       2.4   1.56M
1    1  2010       2.5   1.57M
2    2  2011       2.5  1.583M
3    3  2012       2.6  1.599M
4    4  2013       2.6  1.597M
5    5  2014       2.7  1.601M
6    6  2015       2.9   1.61M
7    7  2016       2.8  1.637M
8    8  2017       3.1   1.73M
9    9  2018       3.0   1.83M

In [ ]:
# .iloc[행 인덱스, 열 인덱스]
df.iloc[0, 3]

'1.56M'

In [ ]:
df.iloc[:4, :3]

   No.  year  GDP rate
0    0  2009       2.4
1    1  2010       2.5
2    2  2011       2.5
3    3  2012       2.6

In [ ]:
df.iloc[::2, :].head()

   No.  year  GDP rate     GDP
0    0  2009       2.4   1.56M
2    2  2011       2.5  1.583M
4    4  2013       2.6  1.597M
6    6  2015       2.9   1.61M
8    8  2017       3.1   1.73M

In [ ]:
# Indexing options with DataFrame

"""
Type                          Notes
df[val]                       Select single column or sequence of columns from the DataFrame
df.loc[val]                   Selects single row or subset of rows from the DataFrame by label
df.loc[:, val]                Selects single column or subset of columns by label
df.loc[val1, val2]            Select both rows and columns by label
df.iloc[where]                Selects single row or subset of rows from the DataFrame by integer position
df.iloc[:, where]             Selects single column or subset of columns by integer position
df.iloc[where_i, where_j]     Select both rows and columns by integer position
df.at[label_i, label_j]       Select a single scalar value by row and column label
df.iat[i, j]	                Select a single scalar value by row and column position (integers)
get_value(), set_value()      Select single value by row and column label
"""
""""""

''

In [ ]:
## Pandas 통계처리

"""
Method            Description
count 	          Number of non-NA values
describe 	        Compute set of summary statistics for Series or each DataFrame column
min, max 	        Compute minimum and maximum values
argmin, argmax 	  Compute index locations (integers) at which minimum or maximum value obtained, respectively
idxmin, idxmax 	  Compute index labels at which minimum or maximum value obtained, respectively
quantile 	        Compute sample quantile ranging from 0 to 1
sum 	            Sum of values
mean 	            Mean of values
median 	          median (50% quantile) of values
mad 	            Mean absolute deviation from mean value
prod 	            Product of all values
var 	            Sample variance of values
std 	            Sample standard deviation of values
skew 	            Sample skewness (third moment) of values
kurt 	            Sample kurtosis (fourth moment) of values
cumsum 	          Cumulative sum of values
cummin, cummax 	  Cumulative minimum or maximum of values, respectively
cumprod 	        Cumulative product of values
diff 	            Compute first arithmetic difference (useful for time series)
pct_change 	      Compute percent changes
"""
""""""

''

In [ ]:
# 요약

print(df["GDP rate"].sum())

27.1

In [ ]:
print(df.describe()) # describe( )를 통해 기본적인 통계치를 모두 표시

            No.        year   GDP rate
count  10.00000    10.00000  10.000000
mean    4.50000  2013.50000   2.710000
std     3.02765     3.02765   0.233095
min     0.00000  2009.00000   2.400000
25%     2.25000  2011.25000   2.525000
50%     4.50000  2013.50000   2.650000
75%     6.75000  2015.75000   2.875000
max     9.00000  2018.00000   3.100000

In [ ]:
df.rename(columns = {"No." : "Number"}, inplace = True) # inplce = True로 설정해줘야 원본데이터가 변경됨
df

   Number  Year  GDP rate     GDP
0       0  2009       2.4   1.56M
1       1  2010       2.5   1.57M
2       2  2011       2.5  1.583M
3       3  2012       2.6  1.599M
4       4  2013       2.6  1.597M
5       5  2014       2.7  1.601M
6       6  2015       2.9   1.61M
7       7  2016       2.8  1.637M
8       8  2017       3.1   1.73M
9       9  2018       3.0   1.83M

In [ ]:
## 결측값 처리

np.random.seed(3)
df1 = pd.DataFrame(np.random.randn(6, 4), columns = ["C1", "C2", "C3", "C4"])
df1

         C1        C2        C3        C4
0  1.788628  0.436510  0.096497 -1.863493
1 -0.277388 -0.354759 -0.082741 -0.627001
2 -0.043818 -0.477218 -1.313865  0.884622
3  0.881318  1.709573  0.050034 -0.404677
4 -0.545360 -1.546477  0.982367 -1.101068
5 -1.185047 -0.205650  1.486148  0.236716

In [ ]:
df1.loc[0, 'C1'] = np.nan
df1.loc[1, 'C1'] = np.nan
df1.loc[1, 'C3'] = np.nan
df1.loc[2, 'C2'] = np.nan
df1.loc[3, 'C2'] = np.nan
df1.loc[4, 'C3'] = np.nan
df1

         C1        C2        C3        C4
0       NaN  0.436510  0.096497 -1.863493
1       NaN -0.354759       NaN -0.627001
2 -0.043818       NaN -1.313865  0.884622
3  0.881318       NaN  0.050034 -0.404677
4 -0.545360 -1.546477       NaN -1.101068
5 -1.185047 -0.205650  1.486148  0.236716

In [ ]:
df1.isna()

      C1     C2     C3     C4
0   True  False  False  False
1   True  False   True  False
2  False   True  False  False
3  False   True  False  False
4  False  False   True  False
5  False  False  False  False

In [ ]:
print(df1.isna().sum(), '\n')
print(df1.isna().sum(axis = 0), '\n')
print(df1.isna().sum(axis = 1), '\n')

C1    2
C2    2
C3    2
C4    0
dtype: int64

C1    2
C2    2
C3    2
C4    0
dtype: int64

0    1
1    2
2    1
3    1
4    1
5    0
dtype: int64

In [ ]:
df1.dropna(axis = 0)

         C1       C2        C3        C4
5 -1.185047 -0.20565  1.486148  0.236716

In [ ]:
df1.dropna(axis = 1)

         C4
0 -1.863493
1 -0.627001
2  0.884622
3 -0.404677
4 -1.101068
5  0.236716

In [ ]:
df1.dropna(axis = 0, how = "any")

         C1       C2        C3        C4
5 -1.185047 -0.20565  1.486148  0.236716

In [ ]:
df1.dropna(axis = 0, how = "all")

         C1        C2        C3        C4
0       NaN  0.436510  0.096497 -1.863493
1       NaN -0.354759       NaN -0.627001
2 -0.043818       NaN -1.313865  0.884622
3  0.881318       NaN  0.050034 -0.404677
4 -0.545360 -1.546477       NaN -1.101068
5 -1.185047 -0.205650  1.486148  0.236716

In [ ]:
df1["C1"].fillna(0, inplace = True)
df1

         C1        C2        C3        C4
0  0.000000  0.436510  0.096497 -1.863493
1  0.000000 -0.354759       NaN -0.627001
2 -0.043818       NaN -1.313865  0.884622
3  0.881318       NaN  0.050034 -0.404677
4 -0.545360 -1.546477       NaN -1.101068
5 -1.185047 -0.205650  1.486148  0.236716

In [ ]:
df1["C2"].fillna("missing", inplace = True)
df1

         C1        C2        C3        C4
0  0.000000   0.43651  0.096497 -1.863493
1  0.000000 -0.354759       NaN -0.627001
2 -0.043818   missing -1.313865  0.884622
3  0.881318   missing  0.050034 -0.404677
4 -0.545360 -1.546477       NaN -1.101068
5 -1.185047  -0.20565  1.486148  0.236716

In [ ]:
df1["C3"].fillna(df1.mean()["C3"], inplace = True)
# mean()함수의 numeric_only = True 옵션은 해당 데이터프레임에서 숫자값을 가지는 칼럼에 대해서만 평균값을 계산하겠다는 뜻. 옵션을 주지 않으면 아래와 같이 경고
#df1["C3"].fillna(df1.mean(numeric_only = True)["C3"], inplace = True)
df1

<ipython-input-132-8530dc49d610>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1["C3"].fillna(df1.mean()["C3"], inplace = True)

         C1        C2        C3        C4
0  0.000000   0.43651  0.096497 -1.863493
1  0.000000 -0.354759  0.079704 -0.627001
2 -0.043818   missing -1.313865  0.884622
3  0.881318   missing  0.050034 -0.404677
4 -0.545360 -1.546477  0.079704 -1.101068
5 -1.185047  -0.20565  1.486148  0.236716

In [ ]:
df1.loc[0, 'C1'] = np.nan
df1.loc[1, 'C1'] = np.nan
df1.loc[1, 'C3'] = np.nan
df1.loc[2, 'C2'] = np.nan
df1.loc[3, 'C2'] = np.nan
df1.loc[4, 'C3'] = np.nan
df1

         C1        C2        C3        C4
0       NaN   0.43651  0.096497 -1.863493
1       NaN -0.354759       NaN -0.627001
2 -0.043818       NaN -1.313865  0.884622
3  0.881318       NaN  0.050034 -0.404677
4 -0.545360 -1.546477       NaN -1.101068
5 -1.185047  -0.20565  1.486148  0.236716

In [ ]:
df1.fillna(df1.mean(), inplace = True)
df1

         C1        C2        C3        C4
0 -0.223227  0.436510  0.096497 -1.863493
1 -0.223227 -0.354759  0.079704 -0.627001
2 -0.043818 -0.417594 -1.313865  0.884622
3  0.881318 -0.417594  0.050034 -0.404677
4 -0.545360 -1.546477  0.079704 -1.101068
5 -1.185047 -0.205650  1.486148  0.236716